ul {
    display:flex;
    height: 100px;
    gap:300px;
    justify-content: center;
    align-items: center;
    margin:0;
    list-style: none;
    padding:0

}

nav{
    background-color: rgb(148, 164, 88);
    margin:0;
}

li{
    list-style: none;
    font-size: 30px;
}

.dropdown-menu {
    background-color:rgb(148, 164, 88);
    position:absolute;
    opacity:0;
    height: 130px;
    width: 250px;
    padding: 20px;
}

.trigger-dropdown:hover .dropdown-menu {
    opacity:1;
}

ul a {
    text-decoration: none;
    color: antiquewhite;
    font-family:fantasy
}

ul a:hover {
    text-decoration:underline;
}

.dropdown-menu {
    display:block;
}

#images {
    background-image: url("../ASSETS/cafe.jpg");
    height: 70vh;
    background-size: cover;
    background-position: center;
}
#menupic {
    background-image: url("../ASSETS/coffee.jpg");
    height: 70vh;
    background-size: cover;
    background-position: center;
}
