#content { background-color:darkkhaki;padding: 4px; margin: 4px;border:2px solid;}
#main { background-color:palegoldenrod;margin: 4px;}
#footer{background-color: palegoldenrod;}
h3 {text-align: center;}