/* GENERAL STYLING / RESETS */

@font-face {
    font-family:mogena;
    src: url("../assets/Mogena.ttf");
}

@font-face {
    font-family: peachy;
    src: url("../assets/QuickPeachy.ttf");
}

@font-face {
    font-family:fruinky;
    src: url("../assets/fruinky-pkaxp.otf");
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    background-color:#f4e8db ;
}
img {
    object-fit: cover;
}

/* HEADER */
header {
    width: 100vw;
}

/* NAVIGATION */

#sitelogo{
   width: 40px;
   height: 40px;
   justify-content:center;
}

nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content:space-evenly;
    padding: 10px 0;
    top: 0;
    position: fixed;
    background-color: #b0ccc0;
    width: 100%;
}
#logo {
    color: white;
    text-decoration: none;
}
ul {
    display: flex;
    font-size: 30px;
    font-family: fruinky;

}
ul li {
    margin-right: 25px;
}
ul li:last-of-type {
    margin-right: 0;
}
ul li a, ul li a:visited {
    color: white;
    text-decoration: none;
}
ul li a:hover {
    color: #fedad6;
}

/* MAIN */
main {
    width: 100vw;
    margin: 0 auto;
    height:600px;
}

/* HERO */
.hero {
    background-image: url("../images/heroportfolio.jpg");
    background-position: center;
    background-size: cover;
    background-position-y:left;
    height: 85vh;
    /* background-image: url(../images/heroportfolio.jpg);
    display: flex;
    width:100%;
    height: 70vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0; */
}
.hero .herotxt {
   padding:350px;
    color: #ffffff;
    font-size: 85px;
    text-align: center;
    font-family:fruinky;
}

/* GALLERY */
.gallery h2 {
    text-align: center;
    margin: 40px 450px 60px 450px;
    font-size: 70px;
    font-family:FRUINKY;
    color: #ffffff;
    background-color: #fd9f96;
   padding: 20px;
   border-radius: 15px;
}
.gallery .projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 25px;
}
.gallery .projects .project-set {
    width: calc(50% - 25px);
}

.gallery .projects .project-set img {
    width: 100%;
}
.gallery .projects .project-set p {
    margin: 10px 0;
}
.gallery .linkbtn, .gallery .linkbtn:visited {
    display: inline-block;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    border: 3px solid black;
    transition: .5s;
}
.gallery .linkbtn:hover {
    background-color: transparent;
    color: black;
}

/* FOOTER */
footer {
    width: 100vw;
    text-align: center;
    background-color:#b0ccc0;
    color: white;
    padding: 20px 0;
    margin-top: 50px;
    text-transform: uppercase;
    position:fixed ;
    bottom: 0;
}

/* ABOUT */
#about main img{
    width: 300px;
    height: 100%;
    margin: 10px;
}

#about main{
    display: flex;
    height: 500px;
    align-items: center;
    margin-top: 150px;
    
}

#about main div{
    padding-left: 20px;
    font-size: 25px;
    font-family:fruinky;
    color: #b0ccc0;
    margin-top: 60px;
    margin-bottom: 60px;

}

#about main div p{
    margin-top: 20px;
}


/* CONTACT */

/* #lmth{
    text-align: center;
    padding: 90px;
    color: #f58d4e;
    font-size: 40px;
    font-family: fruinky;

} */

input{
    display: block;
    padding: 10px;
    margin: 5px;
    width: 50%;
    background-color:white;
    border:0;
    border-radius: 15px;

}
input:focus{
    outline:none;
}

fieldset{
    background-color:#f58d4e;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 15px;
    padding:5%;
}

form{
    padding: 300px 350px 300px 350px;
}

input:valid{
    border: #fcc4a1 3px solid;
}

input:invalid{
    border: rgb(249, 75, 0) 3px solid;
}

#submitbtn{
    width:40%;
    font-family: fruinky;
    color:#f58d4e;
    font-size: 30px;
    border: none;
}

#submitbtn:hover {
    color: #fd9f96;}



.ph::placeholder{
    font-family: 'Oswald', sans-serif;
    color: #f58d4e;
    font-size: 18px;
}


form h1{
    font-size: 70px;
    font-family:fruinky;
    color:white;
    text-align: center;
}

h3{
    font-size: 40px;
    font-family: fruinky;
    color:white;
}

#msg{
    padding-bottom: 200px;
}

#contactme{
    text-align: center;
}

/* GALLERY */


/* MEDIA QUERIES AND RESPONSIVENESS */
@media screen and (max-width: 768px) {
    .hero {
        flex-flow: column wrap;
        height: auto;
    }
    .hero .herotxt {
        padding: 0 0 30px 0;
    }
    .gallery .projects {
        flex-flow: column wrap;
    }
    .gallery .projects .project-set {
        width: 100%;
    }
}