@font-face {
    font-family: berose;
    src: url("../assets/Berose\ Demo.ttf");
}
@font-face {
    font-family: evidance;
    src: url(../assets/Evidance\ Display\ Demo.otf);
}

body{
    background-color: rgb(128, 151, 119);
}

/* HERO */

.sitehero{
    background-image: url("../images/HERO.jpg");
    background-position: center;
    background-size: cover;
    background-position-y:left;
    height: 80vh;
}

.herotext h1 {
font-family: berose;
font-size: 200px;
margin-left: 400px;
padding-top: 170px;
padding-bottom: 0px;
color: rgb(42, 80, 28);
}

.herotext h3 {
    font-family: berose;
    font-size: 150px;
    margin-left: 180px;
    padding-top:100px;
    color: rgb(42, 80, 28);
    }

    #mywork {
        font-family: berose;
        color: antiquewhite;
        font-size: 100px;
        text-align: center;
        padding-top: 40px;
    }

    .abouthero{
        background-image: url("../images/cacti.jpg");
        background-position: center;
        background-size: cover;
        background-position-y:left;
        height: 80vh; 
    }

/* CAROUSEL */


.carousel-item{
    height: 60vh;
    padding-bottom: 180px;
}

.carousel-item img{
    height: 100%;
    object-fit: cover;
}

h5 {
    color: antiquewhite;
   
    font-family: evidance;
    margin-right: 150px;
    margin-left: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
}

p{
    color: antiquewhite;
    
    font-family: berose;
    margin-right: 150px;
    margin-left: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#contactlink, #cafelink, #foxtaillink {
    color: antiquewhite;
    
    padding-top: 5px;
    padding-bottom: 5px;
}

/* NAV BAR */

.container-nav{
    background-color:rgb(42, 80, 28);
}

.nav-link{
    color: antiquewhite;
    font-family: evidance;
    font-size: 30px;
    
    
}

.nav-link:hover{
    color: darkolivegreen;
}


ul{
    margin-right:40px;
}

/* ABOUT ME */

#about-me-paragraph{
    margin: 20px;
    font-size: 30px;
}